{% extends 'index.html' %}
{% block article %}
    <section class="container">
        <div class="row blog-row">
            <div class="col-sm-12">
                <div class="post-space">
                    {% for article in articles %}
                        <article class="post">
                            <p class="post-date"><span class="icon icon-clock"></span>{{ article.article_date }}</p>
                            <h2><a class="underlined" href="/articles/get/{{ article.id }}/">{{ article.article_title }}</a></h2>
                            <hr>
                            <p class="content">{{ article.article_text }}</p>
                            <p><a href="/articles/addlike/{{ article.id }}/"><span class="icon icon-thumbs-o-up"></span></a> {{ article.article_likes }}</p>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}